# Code
__pycache__/
*.pyc
*.pyo
*venv/
.env
*.ipynb
jenkins-volumes/jenkins-data/*
jenkins-volumes/jenkins-docker-certs/*
grafana-volumes/grafana-data/*
grafana-volumes/grafana-provisioning/*

# Windows system files
Thumbs.db
desktop.ini

# MacOS system files
.DS_Store
.Spotlight-V100
.Trashes
._*
